

.recipeDiv{
    height:75%;
    overflow-y:auto;
}

.recipeCard{
    height:25%;
}


.custContainer{
    border:solid;
    border-width:2px;
    overflow-y:auto;
}

.body{
    background-image: url('https://img.freepik.com/free-photo/top-view-fresh-vegetables-various-spices-small-bowls-wooden-spoons-table-free-space_140725-147473.jpg');
    height:100%;
    background-position:center;
    background-size:cover;
    text-decoration:none;
}

.recipePic{
    max-width:100%;
    height:auto;
}
